body {
  height: 100vh;
  align-items: center;
  justify-content: center;
  display: flex;
  background-color: rgb(92, 50, 89);
}
svg {
  padding: 30px;
  background-color: rgb(92, 50, 89);
  text-align: center;
}
#tooltip {
  background: rgb(109, 71, 107);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.40);
  width: 200px;
  height: 50px;
  opacity: 0.8;
  align-items: center;
  justify-content: center;
  display: flex;
  position: absolute;
  border-radius: 15px;
  text-align: center;
  color: white;
}
#legend {
  stroke-opacity: 0.5;
  stroke-width: 1px;
}

#description {
  margin-bottom: 20px;
}
